<div id="desktop_trailer">
  <iframe id='player' width="1050" height="590" src="http://www.youtube.com/embed/<%= @recommendation.movie.videoid %>?modestbranding=1&rel=0&showinfo=0&showsearch=0&autohide=1&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
</div>
