// mainly color vars - more to come

$gradient_bg_light: #fafafa;
$gradient_bg_dark: #b8b8b8;

$dark_gray: #9d9d9d;
$light_gray: #616161;

$black: #222;
$white: #e4e7e7;
$true_black: #000;
$true_white: #fff;

$df: #4A525A;

$default_font_stack: 'Open Sans', sans-serif;
