@import "_base";

html{
  height:100%;
  min-height:420px;
}

body{
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  color: $black;
  background:$gradient_bg_dark;
  @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
}

a{
  text-decoration:none;
  color: $black;
  &:hover{
    color: $black;
  }
  display:inline-block;
  &:visited{
    color: $black;
  }
}

b{
  font-weight:600;
}

#container{
  height:100%;
}

#debug{ display:none }

body2{
  background: $df;
  #container{
    position:absolute;
    height:430px;
    top:50%;
    left:50%;
    width:330px;
    margin-top: -210px;
    margin-left:-160px;
    background:$gradient_bg_dark;
    overflow:scroll;
    overflow-x:hidden;
    @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
  }
  #debug{
    // display:inline;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height: 23px;
    margin-bottom:20px;
    position:absolute;
    bottom:5px;
  }
}
.theaters-show #container{
  width:320px;
  overflow:hidden;
  @include box-shadow($black 0 0 40px);
}

body.data-index{
  background: $true_white;
  table{
    padding:10px 0;
  }
  a{
    text-decoration:underline;
  }
  .dataTables_filter{
    margin-bottom:10px;
  }
  .dataTables_info,.dataTables_paginate{
    margin-top:10px;
  }
}
#movie_data_container{
  width:98%;
  margin:auto;
  padding-top:20px;
}

// elements to hide from non-mobile
header,#next { display:none }

@media only screen and ( max-width: 490px ){

  header{
    display:block;
    a{
      color:$white;
      &:hover{
        color:$white;
      }
      &:visited{
        color:$white;
      }
    }
    background:$true_black;
    
    @include clearfix;
    padding:10px;
    #info{
      float:left;
    }
    #showtimes{
      float:right;
    }
  }

  .theaters-show header{
    span{
      color: adjust-lightness(#000,20);
      padding: 0 5px;
      margin-left:10px;
    }
  }

  #next{
    display:inline-block;
    margin:auto;
    width:180px;
    background: adjust-lightness($dark_gray,10);
    padding: 7px;
    margin-bottom:20px;
    font-size:20px;
  }

  .theaters-show #next{
    width:180px;
    background: adjust-lightness($dark_gray,20);
    font-size:16px;
    margin:auto;
    padding:5px;
    margin-bottom:20px;
  }

}



#info_box{
  font-size: 12px;
  display:none;
  background: $gradient_bg_light;
  text-align: left;
  padding:10px;
  @include box-shadow($dark_gray 0 0 10px);
  #trailer{
    margin:10px 0 2px;
  }
}

#recommendation{
  height:295px;
  margin-bottom:30px;
  h1{
    font-size:64px;
    margin-bottom:25px;
    display: inline;
  }  
  h3{
    padding-top:40px;
    font-size:24px;
    margin-bottom:5px;
  }
  span{
    font-size:25px;
    padding:10px;
    background: $dark_gray;
    color:$white;
    @include border-radius(100%); 
  }
  #rating{
    background: $dark_gray;
    color:$white;
    font-size:25px;
    line-height:25px;
    padding:10px;
    width: 28px;
    height: 28px;
    margin:auto;
    margin-top:30px;
    @include border-radius(100%); 
    cursor:pointer;
  }
}

.pointer{
  cursor: pointer;
}

.theaters-show #recommendation{
  height:auto;
  h1{
    margin-bottom:20px;
  }
  h3{
    margin-top:5px;
    padding-top:0;
  }
  span{ display:none; }
}



#theaters{

  a{
    text-decoration:underline;
  }

  .listing{
    background: $gradient_bg_light;
    padding:7px 0;
    margin-bottom:9px;
    @include box-shadow(adjust-lightness($dark_gray,20) 0 0 5px);
    &:last-child{
      // display:none;
    }
  }

  ul{
    padding:0;
    list-style:none;
    margin-bottom:10px;
    li.theater{
      padding-bottom:5px;
      span{ display:none }
    }
  }
  ul.times{
    @include inline-block-list;
    color: $dark_gray;
    font-size:12px;
    padding-bottom: 5px;
    li{
      padding: 0 5px;
      border-right:1px solid $dark_gray;
      &:last-child{
        border:none;
      }
    }
  }
}

// this should hide w/ media query
.zip_form{ display:none }

footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#showtimes footer{
  position: relative;
  padding-top:10px;
  @include opacity(.6);
}
