@import "_base";

html{
  height:100%;
  min-height:420px;
}

body{
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  color: $black;
  background:$gradient_bg_dark;
  @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
}

a{
  text-decoration:none;
  color: $black;
  &:hover{
    color: $black;
    @include scale(1.1);
  }
  display:inline-block;
  &:visited{
    color: $black;
  }
}

b{
  font-weight:700;
}

#container{
  height:100%;
}

body.viewer{
  background: $df;
  #phone_demo{
    position:absolute;
    height:430px;
    width:330px;
    top:50%;
    left:50%;
    margin-top:-215px;
    margin-left:-115px;
    @include box-shadow($black 0 0 40px);
  }
}

body.data-index{
  background: $true_white;
  table{
    padding:10px 0;
  }
  a{
    text-decoration:underline;
    @include scale(1);
  }
  .dataTables_filter{
    margin-bottom:10px;
  }
  .dataTables_info,.dataTables_paginate{
    margin-top:10px;
  }
}
#movie_data_container{
  width:98%;
  margin:auto;
  padding-top:20px;
}

#info_box{
  font-size: 12px;
  display:none;
  background: $gradient_bg_light;
  text-align: left;
  padding:10px;
  @include box-shadow($dark_gray 0 0 10px);
  #trailer{
    margin:10px 0 2px;
    text-align:center;
  }
}

#main{
  margin-top:-2px;
}

#recommendation{
  height:295px;
  margin-bottom:30px;
  h1{
    font-size:10px;
    margin-bottom:25px;
    display: inline;
    visibility:hidden;
  }
  h3{
    padding-top:40px;
    font-size:26px;
    margin-bottom:5px;
    font-family:sans-serif;
    font-weight:300;
  }
  .arrow{
    width:1em;
    height:1em;
  }
  // span{
  //   font-size:25px;
  //   padding:10px;
  //   background: $dark_gray;
  //   color:$white;
  //   @include border-radius(100%); 
  // }
  #rating{
    background: $dark_gray;
    color:$white;
    font-size:25px;
    line-height:25px;
    padding:10px;
    width: 28px;
    height: 28px;
    margin:auto;
    margin-top:30px;
    @include border-radius(100%); 
    cursor:pointer;
  }
}

.pointer{
  cursor: pointer;
}

.theaters-show #recommendation{
  height:auto;
  h1{
    margin-bottom:20px;
  }
  h3{
    margin-top:5px;
    padding-top:0;
  }
  span{ display:none; }
}



#theaters{

  a{
    text-decoration:underline;
  }

  .listing{
    background: $gradient_bg_light;
    padding:7px 0;
    margin-bottom:9px;
    @include box-shadow(adjust-lightness($dark_gray,20) 0 0 5px);
    &:last-child{
      // display:none;
    }
  }

  ul{
    padding:0;
    list-style:none;
    margin-bottom:10px;
    li.theater{
      padding-bottom:5px;
      span{ display:none }
    }
  }
  ul.times{
    @include inline-block-list;
    color: $dark_gray;
    font-size:12px;
    padding-bottom: 5px;
    li{
      padding: 0 5px;
      border-right:1px solid $dark_gray;
      &:last-child{
        border:none;
      }
    }
  }
}



footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#showtimes footer{
  position: relative;
  padding-top:10px;
  @include opacity(.6);
}


@media only screen and ( min-width: 491px ){

  // elements to hide from non-mobile
  #next,a#showtimes,#rating,header span,#more { display:none }

  header{
    @include clearfix;
    a:hover{
      @include scale(1);
    }
  }

  #info{
    background:$dark_gray;
    color:#616161;
    height:34px;
    text-align:center;
    font-size: 20px;
    line-height: 34px;
    margin-top:3%;
    display:block;
    float:left;
    width:34px;
    margin-left: (80px/1440px*100)+0%;
    &:hover{
      color:$white;
      cursor:pointer;
    }
  }

  #full_info{
    background:$white;
    width:400px;
    color:#616161;
    text-align:left;
    display:none;
    position: absolute;

    p{
      padding:8px;
    }
    span{
      text-align:center;
      display:block;
      margin:auto;
    }
    .left{
      position: absolute;
      left: 8px;
    }
    .right{
      position: absolute;
      right: 8px;
    }
    .center{
      text-align:center;
    }

    a{
      color: $white;
      background: (adjust-lightness(#616161,5));
      padding:5px 10px;
      
      // background:$dark_gray;
      // color:#616161;
    }
    .facts{
      position: relative;
    }
  }

  .zip_form{
    cursor:pointer;
    float:right;
    margin-right: (80px/1440px*100)+0%; 
    width:142px;
    // height:34px;
    margin-top:3%;
    input{
      cursor:pointer;
      font-size:20px;
      font-family:'Open Sans', sans-serif;
      width:142px;
      height:34px;
      border:none;
      background:$dark_gray;
      color:#616161;
      text-align:center;
      line-height:34px;
      &.placeholder{ 
        color:#616161;
        font-family:'Open Sans', sans-serif;
      }
      &:-moz-placeholder{ 
        color:#616161;
        font-family:'Open Sans', sans-serif;
      }
      &::-webkit-input-placeholder{ 
        color:#616161;
        font-family:'Open Sans', sans-serif;
      }
      &:focus{
        color: $white;
      }
    }

    input.hover{
      &.placeholder{ 
        color:$white;
      }
      &:-moz-placeholder{ 
        color:$white;
      }
      &::-webkit-input-placeholder{ 
        color:$white;
      }      
    }
  }

  #recommendation{
    h1{
        font-weight:700;
        text-transform:uppercase;
        letter-spacing:-5px;
        cursor:pointer;
    }
    #yt_trailer{
      display:block;
      display: none;
      @include clearfix;
    }
  }

  // .listing, #theaters ul.times{
  //   font-size:220%;
  // }

  .listing{
    font-size:24px;
  }

  #theaters ul.times{
    font-size: 16px;
    li{
      padding:0 10px;
    }
  }

}




@media only screen and ( max-width: 490px ){
  // hide from mobile
  .zip_form,.arrow,#full_info, #yt_trailer{ display:none }

  header{
    a{
      color:$white;
      &:hover{
        color:$white;
      }
      &:visited{
        color:$white;
      }
    }
    background:$true_black;
    
    @include clearfix;
    padding:10px;
    #info{
      float:left;
    }
    #showtimes{
      float:right;
    }
  }

  .theaters-show header{
    span{
      color: adjust-lightness(#000,20);
      padding: 0 5px;
      margin-left:10px;
    }
  }

  #next{
    display:inline-block;
    margin:auto;
    width:180px;
    background: adjust-lightness($dark_gray,10);
    padding: 7px;
    margin-bottom:20px;
    font-size:20px;
  }

  .theaters-show #next{
    width:180px;
    background: adjust-lightness($dark_gray,20);
    font-size:16px;
    margin:auto;
    padding:5px;
    margin-bottom:20px;
  }

  #recommendation{
    h3{
      font-size:24px;
      font-family:'Open Sans', sans-serif;
    }
  }

  #more{
    padding-top:10px;
    @include opacity(.6);
    a{
      text-decoration:none;
    }
  }

  // .listing:last-child{
  //   display:none;
  // }

}
