@import "base";

$gradient_bg_light: #fafafa;
$gradient_bg_dark: #b8b8b8;

$dark_gray: #9d9d9d;

$black: #222;
$white: #e4e7e7;
$true_black: #000;

$df: #4A525A;

html{
  height:100%;
  min-height:420px;
}

body{
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  color: $black;
  background:$gradient_bg_dark;
  @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
}

a{
  text-decoration:none;
  color: $black;
  &:hover{
    color: $black;
  }
  display:inline-block;
  &:visited{
    color: $black;
  }
}

b{
  font-weight:600;
}

#container{
  height:100%;
}

#debug{ display:none }

body{
  background: $df;
  #container{
    position:absolute;
    height:430px;
    top:50%;
    left:50%;
    width:330px;
    margin-top: -210px;
    margin-left:-160px;
    background:$gradient_bg_dark;
    overflow:scroll;
    overflow-x:hidden;
    @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
  }
  #debug{
    display:inline;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height: 23px;
    margin-bottom:20px;
    position:absolute;
    bottom:5px;
  }
}
#showtimes #container{
  width:320px;
  overflow:hidden;
  @include box-shadow($black 0 0 40px);
}


header{
  a{
    color:$white;
    &:hover{
      color:$white;
    }
    &:visited{
      color:$white;
    }
  }
  background:$true_black;
  
  @include clearfix;
  padding:10px;
  #info{
    float:left;
  }
  #showtimes{
    float:right;
  }
}

#showtimes header{
  span{
    color: adjust-lightness(#000,20);
    padding: 0 5px;
    margin-left:10px;
  }
}

#info_box{
  font-size: 12px;
  display:none;
  background: $gradient_bg_light;
  text-align: left;
  padding:10px;
  @include box-shadow($dark_gray 0 0 10px);
  #trailer{
    margin:10px 0 2px;
  }
}

#recommendation{
  height:295px;
  margin-bottom:30px;
  h1{
    font-size:64px;
    margin-bottom:25px;
    display: inline;
  }  
  h3{
    padding-top:40px;
    font-size:24px;
    margin-bottom:5px;
  }
  span{
    font-size:25px;
    padding:10px;
    background: $dark_gray;
    color:$white;
    @include border-radius(100%); 
  }
  #rating{
    background: $dark_gray;
    color:$white;
    font-size:25px;
    line-height:25px;
    padding:10px;
    width: 28px;
    height: 28px;
    margin:auto;
    margin-top:30px;
    @include border-radius(100%); 
    cursor:pointer;
  }
}

.pointer{
  cursor: pointer;
}

#showtimes #recommendation{
  h1{
    margin-bottom:20px;
  }
  h3{
    margin-top:5px;
  }
  span{ display:none; }
}

#next{
  margin:auto;
  width:180px;
  background: adjust-lightness($dark_gray,10);
  padding: 7px;
  margin-bottom:20px;
  font-size:20px;
}

#showtimes #next{
  width:180px;
  background: adjust-lightness($dark_gray,20);
  font-size:16px;
  margin:auto;
  padding:5px;
  margin-bottom:20px;
}

#theaters{

  a{
    text-decoration:underline;
  }

  .listing{
    background: $gradient_bg_light;
    padding:7px 0;
    margin-bottom:9px;
    @include box-shadow(adjust-lightness($dark_gray,20) 0 0 5px);
    &:last-child{
      display:none;
    }
  }

  ul{
    padding:0;
    list-style:none;
    margin-bottom:10px;
    li.theater{
      padding-bottom:5px;
      span{ display:none }
    }
  }
  ul.times{
    @include inline-block-list;
    color: $dark_gray;
    font-size:12px;
    padding-bottom: 5px;
    li{
      padding: 0 5px;
      border-right:1px solid $dark_gray;
      &:last-child{
        border:none;
      }
    }
  }
}

footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#showtimes footer{
  position: relative;
  padding-top:10px;
  @include opacity(.6);
}
