@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/typography/lists/inline-block-list";

$gradient_bg_light: #fafafa;
$gradient_bg_dark: #b8b8b8;
$button_bg_dark: #9d9d9d;

$black: #222;
$white: #e4e7e7;

html{
  height:100%;
  min-height:420px;
}

body{
  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:16px;
  color: $black;
  background:$gradient_bg_dark;
  @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
}

a{
  text-decoration:none;
  color: $black;
  &:hover{
    color: $black;
    // @include scale(1.05);
  }
  display:inline-block;
  &:visited{
    color: $black;
  }
}

b{
  font-weight:600;
}

body{
  background: #4A525A;
  #container{
    position:absolute;
    height:430px;
    top:50%;
    left:50%;
    width:330px;
    margin-top: -210px;
    margin-left:-160px;
    background:$gradient_bg_dark;
    @include background(radial-gradient($gradient_bg_light, $gradient_bg_dark 100%));
    overflow:scroll;
    overflow-x:hidden;
  }
}
#showtimes #container{
  width:320px;
  overflow:hidden;
}

header{
  a{
    color:$white;
    &:hover{
      color:$white;
    }
    &:visited{
      color:$white;
    }
  }
  background:black;
  
  @include clearfix;
  padding:10px;
  #info{
    float:left;
  }
  #showtimes{
    float:right;
  }
}

#showtimes header{
  span{
    color: adjust-lightness(#000,20);
    padding: 0 5px;
    margin-left:10px;
  }
}

#info_box{
  font-size: 12px;
  display:none;
  background: $gradient_bg_light;
  text-align: left;
  padding:10px;
  @include box-shadow($button_bg_dark 0 0 10px);
  #trailer{
    margin:10px 0 2px;
  }
}

#recommendation{
  h1{
    font-size:64px;
    margin-bottom:25px;
  }  
  h3{
    margin-top:40px;
    font-size:24px;
    margin-bottom:5px;
  }
  span{
    font-size:25px;
    padding:10px;
    background: $button_bg_dark;
    color:$white;
    @include border-radius(100%); 
  }
  #rating{
    background: $button_bg_dark;
    color:$white;
    font-size:25px;
    line-height:25px;
    padding:10px;
    width: 28px;
    height: 28px;
    margin:auto;
    @include border-radius(100%); 
  }
  margin-bottom:30px;
}

#showtimes #recommendation{
  h1{
    margin-bottom:20px;
  }
  h3{
    margin-top:5px;
  }
  span{ display:none; }
}

#next{
  margin:auto;
  width:180px;
  background: adjust-lightness($button_bg_dark,10);
  padding: 7px;
  margin-bottom:20px;
  font-size:20px;
}

#showtimes #next{
  width:180px;
  background: adjust-lightness($button_bg_dark,20);
  font-size:16px;
  margin:auto;
  padding:5px;
  margin-bottom:20px;
}

#theaters{

  a{
    text-decoration:underline;
  }

  .listing{
    background: $gradient_bg_light;
    padding:7px 0;
    margin-bottom:9px;
    @include box-shadow(adjust-lightness($button_bg_dark,20) 0 0 5px);
    &:last-child{
      display:none;
    }
  }

  ul{
    padding:0;
    list-style:none;
    margin-bottom:10px;
    li.theater{
      padding-bottom:5px;
      span{ display:none }
    }
  }
  ul.times{
    @include inline-block-list;
    color: $button_bg_dark;
    font-size:12px;
    padding-bottom: 5px;
    li{
      padding: 0 5px;
      border-right:1px solid $button_bg_dark;
      &:last-child{
        border:none;
      }
    }
  }
}

footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#showtimes footer{
  position: relative;
  padding-top:10px;
  @include opacity(.6);
}
