<!DOCTYPE html>
<html>
<head>
  <title>MovieRecommendationEngine</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css">
</head>
<body>

<%= yield %>

</body>
</html>
